@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


@layer base {
  html {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

@layer components {
  h1 {
    @apply my-6 underline text-blue-950 text-4xl;
  }
  h2 {
    @apply my-5 text-2xl text-blue-600 uppercase;
  }

  .container {
    @apply mt-10;
  }

  .btnPrimary {
    @apply mx-2 bg-gradient-to-r from-blue-600 from-10%  via-slate-800 via-40% to-blue-600
    hover:text-blue-200 
    disabled:bg-gray-400
    border-slate-900 border-2 rounded-lg border-solid py-2 px-4 font-medium text-white my-3 active:translate-x-1 active:translate-y-0.5
  }
}


